.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-top: 100px;
}

.compartimento {
  width: 400px;
  height: 600px;
}

.fileira {
  display: flex;
  width: 100%;
}

.tecla {
  display: flex;
  height: 2em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 2em;
  background-color: #e0e1e6;
  color: black;
  outline: 1px solid #888888;
}

.operador {
  background-color: #fe9241;
  font-weight: bold; 
}

.resultado {
  display: flex;
  height: 1em;
  flex: 1;
  background-color: white;
  color: black;
  justify-content: flex-end;
  font-weight: lighter;
  font-size: 3em;
  align-items: center;
  outline: 1px solid #888888;
  padding: 15px;
}

.apagar {
  display: flex;
  height: 2em;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  background-color: #c2c2c2;
  color: black;
  outline: 1px solid #888888;
}

.anterior {
  display: flex;
  height: 1em;
  flex: 1;
  background-color: #e0e1e6;
  color: black;
  justify-content: flex-end;
  font-weight: lighter;
  font-size: 1.5em;
  align-items: center;
  outline: 1px solid #888888;
  padding: 15px;
}